print("what units do you want to convert")
print(" for  weight= 1 \nfor length= 2")

while True:
    try:
        choice=int(input())
    except ValueError:
        print("please entter a valid value.")
        continue

    if choice< 0:
        print("Sorry, your response must not be negative.")
        continue
    else:
        break
try:
    if choice==1:

        weight = float(input("please enter the value of weight ?"))
        unit = input('In (kg) or (lb)? ')
        if unit.lower() == "kg":
            conversion = weight * 2.20
            print("the weight in pounds is", conversion ,"lb")
        else:
            conversion = weight // 2.20
            print("the weight in kilograms is",conversion, "kg")
except ValueError:
    print("Sorry you made an invalid input")
    
try:
    if choice==2:
        length = float(input("please enter the value of length ?"))
        unit = input('In (m) or (ft)? ')
        if unit.lower() == "m":
            conversion = length * 3.28
            print("the length in feet is", conversion ,"ft")
        else:
            conversion = length * 0.304
            print("the length in meters is",conversion, "m")
except ValueError:
    print("Sorry you made an invalid input")
   
   

